body {
    background-image: linear-gradient(#e0e0e0,#1a1a1a);
}
img {
    display: block;
    width: 50%;
    margin: auto;
    padding-bottom: 75px;
}
.img1 {
    margin-top: 75px;
}
.engine-bay {
    background-image: url(../img/engine-bay.jpeg);
}

/* FOOTER section */
.footer {
    position: fixed;
}

