@import url('https://fonts.googleapis.com/css?family=Amiri|Kanit|Raleway');
/* GLOBAL */
.container-fluid {
    padding: 0;
    margin: 0;
}
.wrap {
    min-height: 100vh;
}

/* NAV section */
.navbar-default {
    border-color: transparent;
    background-color: transparent; 
}
.navbar-default .navbar-nav > li > a {
    color: #0464ee;
    background-color: transparent;
    text-shadow: 1px 1px 1px #1a1a1a;
}
.navbar-default .navbar-nav > li > a:focus,
.navbar-default .navbar-nav > li > a:hover {
    color: #e0e0e0;
    text-shadow: 1px 1px 1px #1a1a1a;
}
nav.navbar {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 20;
}
.logo {
    height: 40px;
    width: 40px;
    margin-left: 10px;
}
.navbar-toggle {
    color: #0464ee;
}

/* CAROUSEL section */


.carousel {
    margin-bottom: 0px;
}
.carousel-inner .item {
    width: 100%;
    height: 725px;
    background-size: cover;
    background-position: center;
}
.carousel-caption {
    z-index: 10;
    padding-bottom: 200px;
    color: #5381f1;
    text-shadow: 2px 2px 2px #0a0a0a;
}
.name {
    font-size: 100px;
}
.main_img1 {
    background-image: url(../img/Miata1.jpeg);
}
.main_img2 {
    background-image: url(../img/Miata2.jpeg);
}
.main_img3 {
    background-image: url(../img/Miata3.jpg);
}
.main_img4 {
    background-image: url(../img/Miata4.jpg);
}
.main_img5 {
    background-image: url(../img/Miata5.jpeg);
}
.glyphicon {
    color: #e0e0e0;
    text-shadow: 1px 1px 1px 1px #1a1a1a;
} 

/* EXTRAS section */

@media screen and (min-width: 1000px) {
    #extras {
        background-image: url(../img/Miata.jpeg);
        background-size: cover;
        background-attachment: fixed;
    }
}
@media screen and (max-width: 999px) {
    #extras {
        background-image: url(../img/Miata6.jpg);
    }
}

/* FOOTER section */
.footer {
    height: 95px;
    width: 100%;
    background-image: linear-gradient(#b8b8b8,#5a5a5a);
    clear: left;
    bottom: 0;
}

.footer-col {
    position: absolute;
    text-align: center;
    float: left;
    width: 100%;
    padding-top: 15px;
}

.fa-instagram {
    font-size: 3em;
    color: #0464ee;
    text-shadow: 0.4px 0.4px 0.4px #0a0a0a;
}
.fa-twitter {
    font-size: 3em;
    color: #0464ee;
    text-shadow: 0.4px 0.4px 0.4px #0a0a0a;
}
.footer-col p {
    color: #0464ee;
    text-shadow: 0.4px 0.4px 0.4px #0a0a0a;
}